/* Utils */

html, body, #root {
  height: 100%; /* nécessaire pour que flex fonctionne sur toute la page */
  margin: 0;
  
}

.flex {
  display: flex;
}
.end {
  justify-content: flex-end;
}
.around {
  justify-content: space-around;
}
.between {
  justify-content: space-between;
}

.BlocHeader {
/* nothing */
}


/* Header */

.linkHeader {
  margin-top: 50px;
  margin-right: 50px;
  font-size: 20px;
 
}

.textlink {
 color:#074c88;
  text-underline-offset: 6px;
  
}

.iconHome {
    margin-left : 20px ;
    color: #59b0bf;
    font-size: 30px;
}

.logo {
  height: 160px;
  width: 220px;
  margin-left: 40px;
}

/* Home */ 

.Home {
  margin-top:100px;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
}

.buttonForm {
  padding: 10px 20px;
  cursor: pointer;
}

/* .buttonForm {

} */

/* Current */

.currentTitle {
  /* margin-top:100px; */
  text-align: center;
}

.employees-container {
  max-width: 1400px;
  /* margin: 50px auto; */
  margin:auto;
  padding: 20px;
}

.currentTitle {
  text-align: center;
  color: #2d3748;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.table-container {
  background: #fff;
  border-radius: 12px;
  overflow-x: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.employees-table {
  width: 100%;
  border-collapse: collapse;
}

.employees-table thead {
  background-color: #4f46e5;
  color: white;
}

.employees-table th {
  padding: 16px;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}

.employees-table td {
  padding: 15px;
  border-bottom: 1px solid #e5e7eb;
  color: #374151;
}

.employees-table tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

.employees-table tbody tr:hover {
  background-color: #eef2ff;
  transition: 0.3s;
}

.employees-table td,
.employees-table th {
  white-space: nowrap;
}

.noEmployee {
  text-align: center;
  padding: 40px;
  font-size: 18px;
  color: #6b7280;
}

/* Footer */ 

.Footer {
    position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top:100px
}


/* utils */ 
.Hide {
  display: none;
}